#!/usr/bin/expect

spawn /etc/rc.initial

expect "Enter an option:" { send "1\r" }
expect "Should VLANs be set up now [y:n]?" { send "n\r" }
expect "Enter the WAN interface name or 'a' for auto-detection (em0 em1 or a):" { send "em0\r" }

expect "Enter the LAN interface name or 'a' for auto-detection NOTE: this enables full Firewalling/NAT mode. (em1 a or nothing if finished):" { send "em1\r" }

expect "Do you want to proceed [y:n]?" { send "y\r" }

expect eof
